---
import Base from "@layouts/Base.astro";
---

<Base title="About" , description="Yet Another FRAmework">
  <article>
    <header><h1>About yafra</h1></header>
    <p>Yafra content is open source and hosted on github.</p>
  </article>
</Base>
