---
import Base from "@layouts/Base.astro";
import RecentPosts from "@components/RecentPosts.astro";
---

<Base>
  <article>
    <header style="text-align: center; color: #00895A;">
      <br />  
      <h1 style="color: #00895A;">yafra.org</h1>
      <span style="color: #00895A;"><small>Yet Another FRAmework</small></span>
      <br />
    </header>
    <p>
      <strong>Y</strong>et <strong>A</strong>nother <strong>FRA</strong>mework is not a classic framework to be used as template or library but rather 
      a set of principles to guide the development of a software. It is a minimalistic approach to
      software development that aims to speed up building sofware with selected libraries and tools.
      With the support of LLM's the process speeds up even more, from code creation, test cases or
      documentation.
    </p>

    <h2>Getting started</h2>
    <p>
      Start with reading through the curated set of libraries and development tools used.
      <a href="/tags/intro">Post about the toolsets</a>
    </p>

    <h2>Github Repositories</h2>
    <p>
      On the Github yafraorg organization you can find some repositories related to yafra.
      <a href="https://github.com/yafraorg">github: yafraorg</a>
    </p>
  </article>
  <hr />
  <RecentPosts />
</Base>
