---
const currentYear = new Date().getFullYear();
---

<footer>
  <p>&copy; 2004-{currentYear} info@yafra.org</p>
  <nav>    <ul>
    <li><a href="https://github.com/yafraorg/yafraorg">GitHub</a></li>
    {/* Add other navbar entries here */}
  </ul>
</nav>
</footer>
{/* CSS required to keep footer at the bottom of the page */}
<style>
  footer {
    position: sticky;
    top: 100vh;
  }
</style>
