---

---

<header>
  <nav aria-label="Main">
    <ul>
      <li>
        <a href="/">
          <strong>yafra.org</strong>
        </a>
      </li>
    </ul>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/blog">Blog</a></li>
      {/* Add other navbar entries here */}
    </ul>
  </nav>
</header>
